# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Base de données locale
*.db
*.sqlite
*.sqlite3

# Fichiers Excel (à ignorer pour éviter de les versionner)
*.xls
*.xlsx

# Secrets (ne jamais versionner)
.secrets.toml
.env

# Streamlit
.streamlit/secrets.toml
